<div class= " container">
<br>
<h3>Approve Products</h3>
<hr>

    <div class="row">
        <div class="col-8 bg-light">Product1</div>
        <div class="col-4 bg-white">
            <button type="button" class="btn btn-dark">Details</button>
            <button type="button" class="btn btn-light">Approve</button>
            <button type="button" class="btn btn-dark">Remove</button>
        </div>
    </div>

    <div class="row">
        <div class="col-8 bg-light">Product2</div>
        <div class="col-4 bg-white">
            <button type="button" class="btn btn-dark">Details</button>
            <button type="button" class="btn btn-light">Approve</button>
            <button type="button" class="btn btn-dark">Remove</button>
        </div>
    </div>

    <div class="row">
        <div class="col-8 bg-light">Product3</div>
        <div class="col-4 bg-white">
            <button type="button" class="btn btn-dark">Details</button>
            <button type="button" class="btn btn-light">Approve</button>
            <button type="button" class="btn btn-dark">Remove</button>
        </div>
    </div>
</div>