<div class="container">
    <div class="card-group">
        <!-- <div class="row"> -->
        <div class="card " *ngFor="let product of products">
            <div class="card-body" >
                <img class="card-img-top" src="{{product.imageURL}}"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{product.title}}</h4>
                    <p class="card-text">{{product.description}}
                    </p>
                    <p><strong>$ {{product.price}}</strong></p>
                    <a  class="btn btn-light  active" role="button" (click)="goToDetail()">Details</a>
                    <a  class="btn btn-secondary  active" role="button" (click)="addToCart(product._id)">Cart</a>
                </div>
            </div>
        </div>
         

    </div>

</div>
