<div class="cont">

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <h2>{{product.title}}</h2>
                <h5>Seller Id</h5>
                <h6>{{product.sellerId}}</h6>
                <hr>
                <div class="prodImg">
                    <img id="myImg" src="{{product.imageURL}}"
                        alt="product Image" style="width:100%;max-width:300px">
                </div>
                <hr>
                <h4>Description</h4>
                <p>{{product.description}}</p>
                <br>
                <h5>Price: ${{product.price}}</h5>
            </div>
            <div class="col-sm-8">  
                
                <h5>Reviews:</h5>
               <div class="p-3 mb-2 bg-light text-dark"  *ngFor = "let review of product.Review">
                 <h6>Reviewed By: {{review.reviewedBy.firstName}}</h6>
                 <h6>Rating : {{review.reviewedBy.rating}}</h6>
                <p>Review Content: {{review.reviewContent}}</p>
                </div>
                <hr class="d-sm-none">
            </div>
        </div>
    </div>
    </div>
