<div class=" cont">
    <br>
    <h3>Approve Reviews</h3>
    <hr>
    <div class="input-group mb-3">
        <input #prodId type="text" class="form-control" placeholder="Product Id">
        <div class="col-8 input-group-append">
            <button type="submit" class="btn btn-dark" (click)="onInput(prodId.value)" >Go</button>
        </div>
      </div>
    <div class="container-fluid">
        <div class="pre-scrollable ">

            <div class="row" *ngFor="let review of reviews">
                <div class="col-8 bg-light">Reviewed by: {{review.reviewedBy}}</div>
                <div class="col-4 bg-white">
                    <button type="button" class="btn btn-dark" (click)="approveReview(prodId.value, review._id)">Approve</button>
                    <button type="button" class="btn btn-light" [routerLink]="['/admin/view-review/'+ review._id+'/'+ prodId.value]">Details</button>

                </div>
            </div>

        </div>
    </div>
</div>