<div class="cont ">
    <br>
    <h3>Approve Reviews</h3>
    <hr>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm bg-dark text-white table-title">
                <h5>Id</h5>
            </div>
            <div class="col-sm bg-dark text-white table-title">
                <h5>Title</h5>
            </div>
            <div class="col-sm bg-dark text-white table-title">
                <h5>Price</h5>
            </div>
            <div class="col-sm bg-dark text-white table-title">
                <h5>Quantity</h5>
            </div>
            <div class="col-sm  bg-dark text-white table-title"></div>
        </div>
        <div class="pre-scrollable ">
            <div class="row">
                <div class="col-sm bg-light">1</div>
                <div class="col-sm bg-light">BOOK</div>
                <div class="col-sm bg-light">23$</div>
                <div class="col-sm bg-light">
                    <h5>10</h5>
                </div>
                <div class="col-sm bg-white">
                    <button type="button" class="btn btn-light">Display</button>
                    <button type="button" class="btn btn-dark" (click) = "goUpdateProduct()">Update</button>
                    <button type="button" class="btn btn-light" (click)="goDeleteProduct()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

