<div class="cont ">
    <br>
    <h3>Products In Stock</h3>
    <hr>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm bg-dark text-white table-title">
                <h5>Id</h5>
            </div>
            <div class="col-sm bg-dark text-white table-title">
                <h5>Title</h5>
            </div>
            <div class="col-sm bg-dark text-white table-title">
                <h5>Price</h5>
            </div>
            <div class="col-sm bg-dark text-white table-title">
                <h5>Quantity</h5>
            </div>
            <div class="col-sm  bg-dark text-white table-title"></div>
        </div>
        <div *ngFor= "let product of products" class="pre-scrollable ">
            <div class="row">
                <div class="col-sm bg-light" #idValue>{{product._id}}</div>
                <div class="col-sm bg-light">{{product.title}}</div>
                <div class="col-sm bg-light">${{product.price}}</div>
                <div class="col-sm bg-light">{{product.quantity}}</div>
                <div class="col-sm bg-white">
                    <button type="button" class="btn btn-light" (click) = "goDisplayProduct(product._id)">Display</button>
                    <button type="button" class="btn btn-dark" (click) = "goUpdateProduct(product._id)">Update</button>
                    <button type="button" class="btn btn-light" (click)="goDeleteProduct(product._id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

