<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Product Name</h2>
            <h5>Seller Name</h5>
            <h6>Seller Id</h6>
            <hr>
            <div class="prodImg">
                <img id="myImg" src="https://images-na.ssl-images-amazon.com/images/I/81wUWVAiWDL._AC_SL1500_.jpg"
                    alt="product Image" style="width:100%;max-width:300px">
            </div>
            <hr>
            <h4>Description</h4>
            <p>Some text about product in culpa qui officia deserunt mollit anim..</p>
            <br>
            <h5>Price: 60$</h5>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h3>Review</h3>
            <hr>
            <p>Reviewed by: Username</p>
            <p>Review Content: review content goes here.......</p>
            <p>Rating: </p>
            <p>This rating uses customized default values.</p>

            <!-- <ngb-rating [rate]="3"></ngb-rating> -->

            <br>
            <hr>
            <button type="button" class="btn btn-default">Approve</button>
            <button type="button" class="btn btn-dark">Remove</button>
        </div>
    </div>
</div>